.custom_table tbody tr:first-child {
    background-image: url("../../../../assets/images/bg_rank_top1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 1/1;
    color: #161d22;
}

.custom_table tbody tr:nth-child(2) {
    background-image: url("../../../../assets/images/bg_rank_top2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 1/1;
    color: #161d22;
}

.custom_table tbody tr:nth-child(3) {
    background-image: url("../../../../assets/images/bg_rank_top3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    aspect-ratio: 1/1;
    color: #161d22;
}

.custom_table thead tr th {
    padding: 8px;
}

.custom_table tbody tr td {
    padding: 4px 2px;
}