@mixin subMenuShow {
  display: block;
  transform: translateY(1px);
}

#tournaments {
  &:hover {
    #sub-menu-tournaments {
      @include subMenuShow();
    }
  }
}

#teams {
  &:hover {
    #sub-menu-teams {
      @include subMenuShow();
    }
  }
}

#rank {
  &:hover {
    #sub-menu-rank {
      @include subMenuShow();
    }
  }
}

.notify {
  animation: showNotifycation 0.5s ease-in-out;
}

@keyframes showNotifycation {
  0% {
    top: 0px;
  }
  100% {
    top: 72px;
  }
}
