#tournaments:hover #sub-menu-tournaments,
#teams:hover #sub-menu-teams,
#rank:hover #sub-menu-rank { 
    display: block;
    transform: translateY(2px);
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f75014;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f75014;
}